@media (max-width: 576px) {
    .info_container {
        flex-direction: column;
        align-items: center;
    }

    .header_heading {
        font-size: 30px;
    }

    .header_subheading {
        font-size: 20px;
    }

    .menu_list {
        flex-direction: column;
        align-items: center;
    }

    .menu_item:not(:last-child) {
        margin: 0 0 20px;
    }

    .menu_item {
        margin: 0;
    }

    .footer_info {
        margin-bottom: 20px;
        text-align: center
    }

}

@media (max-width: 768px) {

    .header_heading {
        font-size: 8vw;
    }

    .header_subheading {
        font-size: 5vw;
    }

}